{% extends 'app/base.html' %}
{% load widget_tweaks %}

{% block content %}
<br>
<a href="{% url 'app:item' %}"><< カレンダーへ戻る</a>

<div class="card eveadd-auth my-5 mx-auto">
    <div class="eveadd-body">
        <h5 class="card-title text-center">受付編集ページ</h5>
        <form method="post" class="form-auth" enctype="multipart/form-data">
            {% csrf_token %}
                {{ form.as_p }}

            
                <div class="button mx-auto">
                    <button class="btn btn-lg btn-primary btn-block mx-auto" type="submit">保存</button>
                </div>
        </form>
    </div>
</div>

{% endblock %}