{% extends 'app/base.html' %}
{% load widget_tweaks %}

{% block content %}
<div style="text-align: left;">
    <a href="{% url 'app:item' %}" class="btn btn-default"> << カレンダーへ戻る</a>
</div>
<br>
<a href="{% url 'app:some_event_add' %}" class="btn btn-outline-primary">まとめて追加したい場合</a>

<div class="card eveadd-auth my-5 mx-auto"> 
    <div class="eveadd-body">
        <h5 class="card-title text-center">受付追加フォーム</h5>
        <form method="post" class="form-auth" enctype="multipart/form-data">
            {% csrf_token %}

            <li type="disc" class="font-weight-bold" style="font-size: 13px; color: rgb(0, 102, 143);">イベント名</li><br>
            <div class="form-label-group">
                {% render_field form.name class='form-control' placeholder='イベント名' %}
            </div>
            <br><br>
            
            <li type="disc" class="font-weight-bold" style="font-size: 13px; color: rgb(0, 102, 143);">追加する期間の指定</li><br>
            <div class="form-label-group">
                <input class='form-control' type="date" name="date"  placeholder="イベント開催日" required>
            </div>
            
            <br><br>

            <li type="disc" class="font-weight-bold" style="font-size: 13px; color: rgb(0, 102, 143);">予約期限の指定</li>
            <p>　※開催 [ 1/5 ] 、許可 [ 2日前 ] 、締切 [ 1日前 ]の場合
                <br>　　　　　　→予約期間　[ 1/3　00:00 ] ～ [ 1/4　23:59 ] </p>
            <div class="form-label-group">
                {% render_field form.book_start class='form-control' min="0" placeholder='何日前に予約を許可するか' %}
                <p style="text-align: right;">日前に予約を許可</p>
            </div>   
            <div class="form-label-group">
                {% render_field form.book_end class='form-control' min="0" placeholder='何日前に締め切るか' %}
                <p style="text-align: right;">日前に予約を締切</p>
            </div>

            <br><br>

            <li type="disc" class="font-weight-bold" style="font-size: 13px; color: rgb(0, 102, 143);">予約制限人数</li>
            <p>　※未入力の場合は無制限になります</p>
            <div class="form-label-group">
                {% render_field form.limit class='form-control' placeholder='予約制限人数' %}
            </div>
            <br><br>


            <li type="disc" class="font-weight-bold" style="font-size: 13px; color: rgb(0, 102, 143);">備考</li><br>
            <div class="form-label-group">
                {% render_field form.description class='form-control' placeholder='備考' %}
            </div>
            <div class="button mx-auto">
                <button class="btn btn-lg btn-primary btn-block mx-auto" type="submit">受付を追加</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}