{% extends 'app/base.html' %}

{% block content %}

<details>
    <summary style="color: rgb(96, 96, 248);">予約をキャンセルしたい場合</summary>
    <p class="indent-1-e">
        ⇒予約したページで自分の名前をクリックしてください。
        <br>また、暗証番号がわからなくなった場合はサークル責任者に連絡してキャンセルしてもらってください。
    </p>
</details>

<div class="text-center my-2 my-sm-5">
    <div class="mb-5">
        <h3>受付一覧</h3>
    </div>
    
    <h5>===潜り予約===</h5>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-11">
            {% if user.is_authenticated %}
                <div style="text-align: left;">
                    <a href="{% url 'app:event_add' %}" class="btn btn-default">カレンダーに受付追加</a>
                </div>
            {% endif %}

            <div style="display: flex;">
                <div class="hako " style="background-color: rgb(249, 255, 244); color: rgb(112, 112, 255); font-weight:  bold;">
                    　予約期間　　
                </div>
                <div>　</div>
                <div class="hako" style="background-color: rgb(255, 244, 244); color: rgb(112, 112, 255); font-weight:  bold;">
                    　予約期間外　
                </div>
            </div>
        </div>
    </div>

    <iframe class="embed-responsive-item evecal" src="item/eventcalendar/" frameborder="0">
    </iframe>
    


    <br><br>
    <h5>===車やその他受付===</h5>
    {% if user.is_authenticated %}
        <div style="text-align: left;">
            <a href="{% url 'app:item_add' %}" class="btn btn-default">受付枠追加</a>
        </div>
    {% endif %}
    <div class="row">
        {% for item in item_data %}
            <div class="col-sm-6">
                <div class="card img-thumbnail itemlist mb-3">
                    <div class="card-body text-center px-2 py-2">       
                                  
                            <h5 class="font-weight-bold">{{ item.name }} 受付</h5>
                            <br>
                            <div class="text-left">
                                <h6 style="text-align: left">備考:</h6>
                                <p class="indent-1">{{ item.description|linebreaksbr }}</p> 
                            </div>
                            <a href="{% url 'app:calendar' item.pk %}" class="btn btn-outline-primary">予約へ</a>                       
                    </div>     
                </div>    
            </div>
                {% empty %}
                <div class="col-12">
                    <br>
                    <p style="font-size: 16px; text-align: center;">　　受付していません</p>
                </div>
                {% endfor %}
    </div>

    <br>
</div>


{% endblock %}